<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1 user-scalable=no,width = 320" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />

<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);"></body>

<title>TimeFinder - Find your bus times</title>
<style type="text/css">
<!--
body {
	background-color: #333;
	margin: 0px;
	color: #FFF;
}
.container {
	margin: 0px;
	background-image:url(/static/timefinder/timefinder.jpg);
	width: 320px;
	height: 415px;
	text-align: center;
}
#search {
	margin-top: 0px;
	line-height: 70px;
	height: 130px;
}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}

img {
    border: 0;
}
#hackylinks {
    position:absolute;
    top: 365px;
    left: 30px;
}
-->
</style></head>

<body>

<div class="container"> 

<div id="search">

<form action='search' method='GET'>
        <input name='search' type='text' size='30'> 
        <input type='submit' value='Go'>
</form> 

</div>

<p>{{Location}}</p>

</div>

<div id="hackylinks">
        <a href="market://details?id=org.timefinder.timefinder"><img src="/static/timefinder/android.png" /></a>
        <a href="http://timefinder.org"><img src="/static/timefinder/details.png" /></a>
</div>
</body>
</html>
