<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1 user-scalable=no,width = 320" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />

<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);"></body>

<title>Your Timetable</title>
<style type="text/css">
<!--
body {
	background-color: #333;
	margin: 0px;
	color: #FFF;
}
a {
	font-size: smaller;
	color: #FFF;
	background-color:#82291E;
	padding:5px;
	text-decoration: none;
	margin: 5px;
	line-height: 2em;
}
a:link {
	font-size: smaller;
	color: #FFF;
	background-color:#82291E;
	padding: 5px;
	text-decoration: none;
}
.container {
	background-image:url(/static/timefinder/timefinderfooter.jpg);
	width: 320px;
	text-align: center;
}
.item {
	margin-right: 5px;
}
h1 {
	padding: 0px;
	margin: 0px;
	line-height: 75px;
}
	
.header {
	margin: 0px;
	padding: 0px;
	width: 320px;
	height: 76px;
	background-image:url(/static/timefinder/timefinderhead.jpg);
}
.footer {
	width: 320px;
	height: 40px;
	background-image:url(/static/timefinder/timefinderfooter.jpg);
}
#search {
	margin-top: 0px;
	line-height: 100px;
}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}
a {
	font-size: smaller;
	color: #333;
	background-color:#6C9;
	padding: 10px;
	margin: 5px;
	text-decoration: none;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
#apDiv1 {
	position:absolute;
	left:10px;
	top:19px;
	width:70px;
	height:50px;
	z-index:1;
}
-->
</style></head>

<body>

<div id="apDiv1"><form class="form" action="{{home}}" method="post">
      <input type="image" src="/static/timefinder/back.png" border="0" name="submit" /></form></div>
<div class="container">
<div class="header"><h1>{{ route.number }}</h1></div>
  <table width="85%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <th height="18" colspan="3" align="center" valign="middle" scope="col">&nbsp;</th>
    </tr>
    {% if stoptimes %}
    <tr>
      <td align="left" valign="middle" width="33%"><a href="?route={{route.pk}}&stop={{stop.pk}}&day={{prevday}}">&lt;- {{prevdayname}}</a></td>
      <td align="center" valign="middle" width="33%">{{dayname}}</td>
      <td align="right" valign="middle" width="33%"><a href="?route={{route.pk}}&stop={{stop.pk}}&day={{nextday}}">{{nextdayname}} -&gt;</a></td>
    </tr>
    <tr>
      <td colspan="3" align="center" valign="middle"><h5>{{ stop.name }}</h5></td>
    </tr>
    <tr>
    {% for stoptime in stoptimes %}
      <td align="center" valign="middle">
        {% ifchanged %}
            <strong>{{stoptime.time.hour|stringformat:"02d"}}</strong>{% else %}
            {{stoptime.time.hour|stringformat:"02d"}}{% endifchanged %}{{stoptime.time.minute|stringformat:"02d"}}
      </td>
    {% cycle "" "" "<tr></tr>" %}
    {% endfor %}
    {% else %}
    </tr>
    <tr>
      <th colspan="3" align="center" valign="middle" scope="col"><h1>Not Found</h1></th>
    </tr>
    {% endif %}
  </table> 

<div class="footer"></div> 


</div>
</body>
</html>

