<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">

  
  <!--<link rel="stylesheet" href="/static/const/general.css" type="text/css" media="screen">-->
  <title>Leaderboards</title>

  
</head><body>
<img style="width: 1105px; height: 458px;" alt="" src="logo.png">
<table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">
    <tbody>
    {% for c in clist %}
    <tr>
    {% for t in c %}
      <td style="vertical-align: top;">{{t}}<br>
      </td>
    {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

</body></html>