<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>Results</title>

  
  
  <link rel="stylesheet" href="/static/const/general.css" type="text/css" media="screen">

</head><body>
<div class="text" align="left">
<h1>{{name}}</h1>
    
<ul id="dreamcomparisons" style="margin: 0px 14px 0px 18px; padding: 0px; list-style-type: none;">

<li>This constituency is held by <strong>{{mpname}}</strong> from the <strong style="color:#{{partycolour}}">{{partyname}} Party</strong></li>
<li>It has a population of <strong>{{population}}</strong></li>
<li>This is the <strong>{{rank}}th</strong> most dodgy constituency in parliament</li>

<!--<li>It is the <strong>{{partyrank}}th</strong> most crime-ridden seat in the <strong>{{partyname}} Party</strong></li>-->

<li>The total number of crimes in February 2011 was <strong>{{crime}}</strong>, that's <strong>{{per1000}}</strong> per 1000 people.</li>

<li>&nbsp;</li>
{% for type,ammount in ctypes %}
<li>There were <strong>{{ammount}}</strong> instances of <strong>{{type}}</strong>.</li>
{% endfor %}

</ul>
</div>



<script type="text/javascript" src="/static/const/jquery.js"></script>
</body></html>
