<html>
    <head>
        <script language="javascript" type="text/javascript">
            function get_location() {
                navigator.geolocation.getCurrentPosition(show_map);
            }
            function show_map(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                document.location = "/cbyll/" + longitude + "," + latitude;
                // let's show a map or do something interesting!
            }
        </script>
    </head>
    <body onload="get_location()">
        <ul>
        {% for c in clist %}
            <li>{{c}}</li>
        {% endfor %}
    </body>
</html>