<!DOCTYPE html>
<html>
<head>
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
  #map_canvas { height: 100% }
</style>
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js">
</script>
<script type="text/javascript"
    src="{{ STATIC_PREFIX }}markerclusterer.js">
</script>
<script type="text/javascript">

var XMLHttpRequestObject = false; 
  try { 
    XMLHttpRequestObject = new ActiveXObject("MSXML2.XMLHTTP"); 
    } catch (exception1) { 
      try { 
        XMLHttpRequestObject = new ActiveXObject("Microsoft.XMLHTTP"); 
        } catch (exception2) { 
           XMLHttpRequestObject = false; 
        } 
     } 
  if (!XMLHttpRequestObject && window.XMLHttpRequest) { 
      XMLHttpRequestObject = new XMLHttpRequest(); 
  } 

function getPoints(bounds) {
  if (XMLHttpRequestObject) {
    if (bounds == 0) var query = "{{feedurl}}";
    else {
      var SouthWest = bounds.getSouthWest();
      var NorthEast = bounds.getNorthEast();
      var query = "{{feedurl}}north="+NorthEast.lat()+"&east="+NorthEast.lng()+"&south="+SouthWest.lat()+"&west="+SouthWest.lng();
    }
    XMLHttpRequestObject.open ("GET", query);
    XMLHttpRequestObject.onreadystatechange = function() {
    if (XMLHttpRequestObject.readyState == 4 &&
        XMLHttpRequestObject.status == 200) {
     data = eval(XMLHttpRequestObject.responseText);
     
        {% if cluster %}
        mc.resetViewport();
        
        {% else %}
        for (i in markersArray) {
          markersArray[i].setMap(null);
        }
        markersArray.length = 0;
        {% endif %}
    
    {% if static %}
    var bounds = new google.maps.LatLngBounds();
    {% endif %}
    for (i=0; i<data.length; i++) {
        {% if cluster %}
            mc.AddCluster(data[i]["lat"], data[i]["lon"], data[i]["count"])
        
        {% else %}
            var latlng = new google.maps.LatLng(data[i]["lat"], data[i]["lon"]);
            {% if static %} bounds.extend(latlng); {% endif %}
            var marker = new google.maps.Marker({
              map: map, 
              position: latlng,
              title: data[i]["name"]{% if icon %},
              icon: customicon{% endif %}
            });
            
            {% if click %}
            var loc = data[i]["url"]
            google.maps.event.addListener(marker, 'click', function() {
                document.location = loc;
            })
            {% endif %}
          
            /*
            tmp = data[i]["service"]
            google.maps.event.addListener(marker, 'click', function() {
              var infowindow = new google.maps.InfoWindow({
                  content: tmp
              });
              infowindow.open(map,marker);
            });
            */
      
            markersArray.push(marker);
        {% endif %}
     }
     {% if static %}
     map.fitBounds(bounds);
     {% endif %}
    }
  }
XMLHttpRequestObject.send(null);
}
}

  function initialize() {
    var latlng = new google.maps.LatLng(54.3, -2);
    var myOptions = {
      zoom: 6,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
    
    {% if cluster %}
    mc = new MarkerClusterer(map);
    {% else %}
    markersArray = [];
    {% endif %}
    
    {% if icon %}
    customicon = "http://maps.google.com/mapfiles/ms/micons/bus.png"
    {% endif %}
    {% if not static %}
    google.maps.event.addListener(map, 'zoom_changed', update);
    {% endif %}
    
    getPoints(0);
    
    {% if update %}
    setInterval(update, 10000);
    {% endif %}
    {% if animate %}
    step = 0;
    setInterval(animate, 100);
    {% endif %}
  }
  
  
{% if animate %}
function animate() {
    console.log(step);
    for (i=0; i<data.length; i++) {
        var lat = data[i]["lat"] + step*data[i]["speed_lat"]/10;
        var lon = data[i]["lon"] + step*data[i]["speed_lon"]/10;
        var latlng = new google.maps.LatLng(lat, lon);
        markersArray[i].setPosition(latlng);
    }
    step += 1;
}
{% endif %}

function update() {
  var bounds = map.getBounds();
  getPoints(bounds);
    {% if animate %}
    step = 0;
    {% endif %}
  //alert(northEast.lat());
}

</script>
</head>
<body onload="initialize()">
  <div id="map_canvas" style="width:100%; height:100%"></div>
</body>
</html>